<div class="row">
    <div class="options">
        <p>
            Did you find a new survivor?<br>
            Please report his/her existence.
        </p>
        <a class="icon" ng-href="#/add-survivor">
            <i class="fa fa-plus"></i>
            Add Survivor
        </a>
    </div>
    <div class="options">
        <p>
            Need new supply?<br>
            Trade it with other survivors.
        </p>
        <a ng-href="#/trade-items">
            <i class="fa fa-exchange"></i>
            Trade Items
        </a>
    </div>
    <div class="options">
        <p>
            Did you arrive in a new place?<br>
            Report your current location.
        </p>
        <a ng-href="#/update-location">
            <i class="fa fa-repeat"></i>
            Update Location
        </a>
    </div>
</div>
